@*@model IEnumerable<Library_ILS.Models.Catalog.AssetIndexListingViewModel>*@
@* так можна було б зробити, якби ми не створювали модель AssetIndexViewModel, яка вже містить колекцію    *@
@model Library_ILS.Models.Catalog.AssetIndexViewModel
@{
    ViewData["Title"] = "Library Catalog";
}

<div id="assets">
    <h3>@ViewData["Title"]</h3>
    <div>
        <table class="table table-condensed" id="catalogIndexTable">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Author / Director</th>
                        <th>Dewey Call Number</th>  
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in @Model.Assets)
                    {
                        <tr class="assetRow">
                            <td class="">
                                <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@item.Id">
                                    <img src="@item.ImageUrl" alt="Image" class="imageCell" />
                                    
                                </a>
                            </td>
                            <td>@item.Title</td>
                            <td>@item.AuthorOrDirector</td>
                            <td>@item.DeweyCallNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>